.content{
  width: 100%;
  height: 100%;
  display: flex;
}

aside{
  background-color: #7C3AED;
  width: 200px;
  height: 100vh;
  position: fixed;
  transition: 0.3s;
}
.aside-padding{
  padding-top: 32px;
  margin-left: 35px;
}
.aside-padding ul{
  margin-top: 60px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 36px;
  transition: 0.3s;
}
.link{
  display: flex;
  gap: 18.5px;
  text-decoration: none;
  color: #CAB3FF;
  align-items: center;
}
h4{
  font-size: 16px;
}
.active{
  color: #FFFFFF;
}
.main{
  background-color: #7C3AED;
  width: 100%;
  height: 100vh;
}

@media (max-width: 1470px) {
  aside{
    margin-left: -20px;
    width: 0px;
  }
  h4{
    display: none;
  }
  .aside-padding ul{
    margin-left: 15px;
  }
}